.App {
  text-align: center;
  padding: 20px;
  background: lightblue;
  min-height: 100vh;
}

h1{
  color: darkblue;
  text-align: center;
}
.fact{
  max-width: 600px;
  margin: auto;
}
.facts {
  margin: 10px 0;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}